@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .card {
    @apply basis-1/4 border border-shark-tint-30 border-opacity-50 rounded h-24;
  }
  .notification {
    @apply border border-light-white bg-[#232323] rounded-xl shadow-xl h-28 w-2/5;
  }
  .horizontal-line {
    @apply border-b border-light-white my-2;
  }

  .control-button-remove {
    @apply flex flex-col justify-center items-center gap-y-2 cursor-pointer w-40 border border-shark-tint-30 border-opacity-50 rounded hover:bg-mandy hover:text-white bg-shark-40 py-5 hover:duration-300 text-sm;
  }
  .control-button-edit {
    @apply flex flex-col justify-center items-center gap-y-2 cursor-pointer w-40 border border-shark-tint-30 border-opacity-50 rounded hover:bg-brand hover:text-black bg-shark-40 py-5 hover:duration-300 text-sm;
  }
  .yellow-scroll {
    @apply overflow-scroll scrollbar-thin scrollbar-thumb-brand scrollbar-track-mmist;
  }
}

.group:hover .absolute {
  display: block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  border: 0px solid #253341;
  -webkit-text-fill-color: #ededef;
  -webkit-box-shadow: 0 0 0px 1000px #253341 inset;
  box-shadow: 0 0 0px 1000px #202020 inset;
  transition: background-color 5000s ease-in-out 0s;
  color: #202020;
  caret-color: white;
}

@layer base {
  :root {
    --background: 0 0% 100%;

    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

.even-row {
  background-color: #8080801f;
}

.odd-row {
  background-color: transparent;
}
